body{
/* Background image for game  */
      background-image: url(images/3.jpeg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 1920px ;
      height: 1080px ;
      margin-bottom: 0%;
      overflow: hidden;
    } 

    #rope{
        position: relative;
    }

    .timer {
    position: relative;
    }
